@media screen and (min-width: 768px) {
    header {
        .limited-width {
            padding: 0 15px;
            flex-direction: row;
            justify-content: space-between;

            nav {
                width: auto;
                border: none;

                a {
                    font-size: 1.2rem;
                }
            }
        }
    }

    main {
        .limited-width {
            padding: 0 15px;
            .main-header {
                nav a{
                    font-size: 1.2rem;
                }

                h2 {
                    font-size: 1.8rem;
                }
            }

            .specialty {
                .text {
                    h2 {
                        font-size: 1.5rem;
                    }

                    p {
                        max-width: 60%;
                        font-size: 1.1rem;
                    }
                }

                .table-container {
                    .img-container {
                        display: block;
                        
                    }
                }
            }
        }
    }
}