* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0000008c;
}

.limited-width {
    max-width: 1024px;
    margin: 0 auto;
}

body, html {
    height: 100vh;
}

header {
    background-color: rgb(54, 180, 180);

    .limited-width {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        position: relative;

        img {
            width: 150px;
        }

        nav {
            width: 90vw;
            
            display: flex;
            justify-content: space-around;
            gap: 15px;

            border-top: 1px solid #0000008c;

            padding: 10px;

            a {
                font-size: 12px;
                color: #fff;
                text-decoration: none;

                &:hover {
                    color: #0000008c;
                }
            }
        }
    }
}

main {
    .limited-width {
        display: flex;
        flex-direction: column;
        gap: 40px;
        
        .main-header{
            margin: 20px 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            nav {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;

                padding: 0 20px;

                a {
                    text-decoration: none;
                    font-weight: bold;

                    border-bottom: 2px solid rgb(54, 180, 180);

                }
            }
        }

        .specialty {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;

                p {
                    padding: 0 20px;
                    font-size: 1rem;
                    text-align: center;
                    
                }
            }

            .table-container {
                display: flex;
                .img-container {
                    display: none;
                    width: 50%;
                    height: 250px;
                }

                table {
                    border-collapse: collapse;
                    width: 100%;
                    
                    thead {
                        background-color: rgb(54, 180, 180);
                        th {
                            padding: 10px;

                            text-align: start;
                            color: #fff;
                        }
                    }
                    
                    tbody {
                        tr td{
                            padding: 10px;
                        }

                        tr:nth-of-type(odd) {
                            background-color: #6666668c;
                        }
                        
                        tr:nth-of-type(even) {
                            background-color: #e0dedead;
                        }
                    }
                }
            }
        }

        #ortopedia .img-container {
            background: url('../../assets/ortopedia.png') no-repeat;
            background-size: cover;
        }

        #pediatria .img-container {
            background: url('../../assets/pediatra2.png') no-repeat;
            background-size: cover;
        }

        #geriatria .img-container {
            background: url('../../assets/geriatra.png') no-repeat;
            background-size: cover;
        }

        #psicologia .img-container {
            background: url('../../assets/psicologo.png') no-repeat;
            background-size: cover;
        }

        #fisioterapia .img-container {
            background: url('../../assets/fisioterapia.png') no-repeat;
            background-size: cover;
        }
    }
}

footer {
    margin-top: 100px;
    background-color: rgb(26, 126, 126);

    .limited-width {
        width: 90%;

        margin: 0 auto;
        padding: 40px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        p {
            text-align: center;
            color: #fff;
        }

        img {
            width: 150px;
        }
    }
}