@media screen and (min-width: 426px) and (max-width: 768px) {
    header {
        .limited-width {
            padding: 0 15px;
            flex-direction: row;
            justify-content: space-between;

            nav {
                width: auto;
                border: none;

                a {
                    font-size: 1.2rem;
                }
            }
        }
    }

    main {

        .limited-width {
            padding: 0 15px;

            .specialty .text p{
                max-width: 80%;
                font-size: .9rem;
            }
        }
    }
}