* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0000008c;
}

.limited-width {
    max-width: 1024px;
}

body, html {
    height: 100vh;
}

header {
    background-color: rgb(54, 180, 180);

    .limited-width {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        position: relative;

        img {
            width: 150px;
        }

        nav {
            width: 90vw;
            
            display: flex;
            justify-content: space-around;
            gap: 15px;

            border-top: 1px solid #0000008c;

            padding: 10px;

            a {
                font-size: 12px;
                color: #fff;
                text-decoration: none;

                &:hover {
                    color: #0000008c;
                }
            }
        }
    }
}

.banner {
    background: no-repeat url('../assets/recepcao.png') center;
    background-size: cover;

    height: 200px;

    .limited-width {
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        h1, p {
            color: #fff;
            font-size: 1.1rem;
            font-weight: normal;

            margin-left: 15px;
        }
        
    }
}

main {
    .limited-width {
        display: flex;
        flex-direction: column;
        align-items: center;

        #about {
            width: 90%;
            margin-top: 100px;
        
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        
            gap: 25px;
        
            p {
                text-align: center;
                padding: 15px;
            }
        
            .about-list {
                
                img {
                    display: none;
                }
        
                h3 {
                    text-align: center;
                    font-weight: normal;
                    font-size: 1.2rem;
        
                    margin-bottom: 25px;
                }
        
                ul {
                    margin-left: 35px;
        
                }
            }
        }
        
        .content {
            margin-top: 100px;
            width: 90%;
        
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
        
            .content-text {
                text-align: center;
        
                h2 {
                    font-size: 1rem;
                    margin-bottom: 20px;
                }
            }
        
            .images, img {
                width: 100%;

                figure {
                    width: 100%;
                    text-align: center;

                    margin-bottom: 25px;

                    box-shadow: 0px 0px 5px 2px #0000008c;

                    figcaption {
                        padding: 10px;
                    }
                }
            }

            a {
                background-color: rgb(54, 180, 180);
                padding: 10px 20px;
                text-decoration: none;
                color: #fff;

                box-shadow: inset 0px 0px 4px #0000008c;
                transition: .5s;

                &:hover {
                    scale: 1.05;
                    background-color: rgb(35, 126, 126);
                }
            }
        }

        .contact {
            margin-top: 50px;
            width: 90%;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            p {
                text-align: center;
            }

            iframe {
                width: 100%;
            }
        }
    }
}

footer {
    margin-top: 100px;
    background-color: rgb(26, 126, 126);

    .limited-width {
        width: 90%;

        margin: 0 auto;
        padding: 40px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        p {
            text-align: center;
            color: #fff;
        }

        img {
            width: 150px;
        }
    }
}
