* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(0, 0, 0, 0.5490196078);
}

.limited-width {
  max-width: 1024px;
}

body, html {
  height: 100vh;
}

header {
  background-color: rgb(54, 180, 180);
}
header .limited-width {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header .limited-width img {
  width: 150px;
}
header .limited-width nav {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  gap: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.5490196078);
  padding: 10px;
}
header .limited-width nav a {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}
header .limited-width nav a:hover {
  color: rgba(0, 0, 0, 0.5490196078);
}

.banner {
  background: no-repeat url("../assets/recepcao.png") center;
  background-size: cover;
  height: 200px;
}
.banner .limited-width {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.banner .limited-width h1, .banner .limited-width p {
  color: #fff;
  font-size: 1.1rem;
  font-weight: normal;
  margin-left: 15px;
}

main .limited-width {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .limited-width #about {
  width: 90%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
main .limited-width #about p {
  text-align: center;
  padding: 15px;
}
main .limited-width #about .about-list img {
  display: none;
}
main .limited-width #about .about-list h3 {
  text-align: center;
  font-weight: normal;
  font-size: 1.2rem;
  margin-bottom: 25px;
}
main .limited-width #about .about-list ul {
  margin-left: 35px;
}
main .limited-width .content {
  margin-top: 100px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
main .limited-width .content .content-text {
  text-align: center;
}
main .limited-width .content .content-text h2 {
  font-size: 1rem;
  margin-bottom: 20px;
}
main .limited-width .content .images, main .limited-width .content img {
  width: 100%;
}
main .limited-width .content .images figure, main .limited-width .content img figure {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5490196078);
}
main .limited-width .content .images figure figcaption, main .limited-width .content img figure figcaption {
  padding: 10px;
}
main .limited-width .content a {
  background-color: rgb(54, 180, 180);
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5490196078);
  transition: 0.5s;
}
main .limited-width .content a:hover {
  scale: 1.05;
  background-color: rgb(35, 126, 126);
}
main .limited-width .contact {
  margin-top: 50px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
main .limited-width .contact p {
  text-align: center;
}
main .limited-width .contact iframe {
  width: 100%;
}

footer {
  margin-top: 100px;
  background-color: rgb(26, 126, 126);
}
footer .limited-width {
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
footer .limited-width p {
  text-align: center;
  color: #fff;
}
footer .limited-width img {
  width: 150px;
}/*# sourceMappingURL=mobilefirst.css.map */